.Custom-Button {    
    display:inline-block;          
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; 
    user-select: none;   
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(29, 29, 29);
    width: 100%;
    font-weight: bold;
    transition: all 0.6s;
    
}

.Custom-Button:hover {background-color: rgb(29, 29, 29)}

.Custom-Button:active {
  background-color:  rgb(29, 29, 29);
  box-shadow: 0 5px  rgb(29, 29, 29);
  transform: translateY(4px);
}