.square {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 400px;  
    
  }
  .square p{
    display: flex;
    position: relative;
    margin-top: 44%;
  }