.square {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: orange;
    height: 200px;
    width: 200px;  
    top: 50%;
    margin: auto;
    margin-top: 14%;
  }
  .square p{
    display: flex;
    position: relative;
    margin-top: 44%;
  }